<!DOCTYPE html>
<html>
<head>    
<title> Weather App - Current location </title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class=".content">
    <%- include('partials/nav.ejs') %>
    </div>
    <form action="" method="POST">
        <div class="header">
        <input name="city" type="text" placeholder="Enter a place name">
        <input type="submit" value ="Get Weather">
    </div>
        <div class=".flex">
            <% if(city!==null) { %>
             <p>Place | <%= city %>, <%= region %></p>
             <p>Temperature <%= temp_c%> ℃, <%= cond_text%></p> 
             <img src="<%= icon%>" alt=""></img>
             <p>Feels like: <%= feelslike_c%> ℃</p> <p>Wind Speed: <%= wind_speed_kph%> <%= wind_dir%></p>
             <p>Time / TimeZone  <%= localtime%> / <%= localtime_zone%></p>
            <% } %>
            <% if(error!==null) {%>
             <p id="error">Error : <%= error%></p>
            <% } %>
         </div>
        
    </form>
</body>


<footer>
 <%- include('partials/footer.ejs') %>
</footer>

</html>
